<?xml version="1.0"?>
<config>
	<modules>
		<Doshu_Gestpay>
			<version>0.1.0</version>
		</Doshu_Gestpay>
	</modules>
	<global>
		<helpers>
			<gestpay>
				<class>Doshu_Gestpay_Helper</class>
			</gestpay>
		</helpers>
		<models>
			<gestpay>
				<class>Doshu_Gestpay_Model</class>
			</gestpay>
		</models>
		<blocks>
			<gestpay>
				<class>Doshu_Gestpay_Block</class>
			</gestpay>
		</blocks>
		<resources>
			<gestpay_setup>
				<setup>
					<module>Doshu_Gestpay</module>
					<!--class>Mage_Eav_Model_Entity_Setup</class-->
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</gestpay_setup>
			<gestpay_write>
				<use>core_write</use>
			</gestpay_write>
			<gestpay_read>
				<use>core_read</use>
			</gestpay_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<gestpay>
				<use>standard</use>
				<args>
					<module>Doshu_Gestpay</module>
					<frontName>gestpay</frontName>
				</args>
			</gestpay>
		</routers>   
	</frontend>    
	<default>
		<payment>
			<gestpay>
				<active>1</active>
				<model>gestpay/standard</model>
				<order_status>pending</order_status>
				<title>Gestpay</title>
				<payment_action>sale</payment_action>
			</gestpay>
		</payment>
	</default>
</config> 
